<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rotundalaboratoryusermanual"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- min level 11 req to use searchable -->
    
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
    
    <!-- permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    
    <!-- Google maps API key for debuggong AIzaSyBcvfHSI1u-NEQo6VBx-CtxyrkLxsq7GQc -->
        
         <!-- My Location -->
         <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
         <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
         
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    
    
        
        
       
        

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- API key for very app is unoqui, see here https://docs.google.com/document/pub?id=19nQzvKP-CVLd7_VrpwnHfl-AE9fjbJySowONZZtNHzw -->
    
    <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBcvfHSI1u-NEQo6VBx-CtxyrkLxsq7GQc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        
        <activity
            android:name=".MainMenu"
            android:label="Main Menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- google map activty -->
        <activity
            android:name=".CompanyMap"
            android:label="Rotunda Location"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.COMPANYMAP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- Main Activity To Test DataBase -->
        <activity
            android:name=".MainActivity"
            android:label="Main Activity" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        
          <!-- List View fo all Tests, this is also the Searcahable activity declartion fro SeachWidget -->
        <activity
            android:name=".ViewListOfTests"
            android:label="All Tests" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEWLISTOFTESTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchxml" />
        </activity>
        
        
         <!-- View the selected test from listview selection, class SelectedTestDetails  -->
        <activity
            android:name=".SelectedTestDetails"
            android:label="Test Details" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.SELECTEDTESTDETAILS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <!-- 2nd menu with grid view -->
         <!-- View the selected test from listview selection, class SelectedTestDetails  -->
        <activity
            android:name=".mainmenu2"
            android:label="Menu" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAINMENU2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
                <!-- add circular menu  here -->
         <activity
            android:name=".circularmenu"
            android:label="Tube Guide" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.CIRCULARMENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         
          <!-- add about clads here -->
         <activity
            android:name=".about"
            android:label="User Manual: About" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- add circular menu dependcy project here -->
         <activity
            android:name="com.doitflash.java.circlemenu.user.MainActivity"
            android:label="Tube Guide" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.com.doitflash.java.circlemenu.user.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         
         <!-- departmebtal details class holding list view -->
         <activity
            android:name=".DepartmentDetails"
            android:label="Departments" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.DEPARTMENTDETAILS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         
         <!-- on call service class holding details -->
         <activity
            android:name=".onCallService"
            android:label="on Call Service" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.ONCALLSERVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
